<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EventMake</title>
  <link rel="stylesheet" href="events.css">
</head>
<body>
  <header>
    <h1>EventMake</h1>
    <nav>
      <ul>
        <li><a href="/events">Events</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        <li><button class="add-button" id="add-btn">+</button></li>
      </ul>
    </nav>
  </header>

  <main>
    <h2></h2>
    <% for(const event of EVENTS) { %>
      <div class="event">
        <h3 class="event-name"><%= event.eventName%></h3>
        <p class="event-date">Date: <%= event.eventDate%></p>
        <p class="event-type">Event Mode: <%= event.eventType%></p>
        <% if (event.eventType === 'Offline') { %>
          <p class="event-location">Location: <%= event.eventLocation%></p> 
        <% } %>
        <p class="event-description">Description: <%= event.eventDescription%></p>
        <% if (event.eventType === 'Online') { %>
        <button class="event-link"><a class="whatsapp-no" href="<%= event.eventLink%>" target="_blank">Event Link</a></button>
        <% } %>
        <button class="contact-team"><a class="whatsapp-no" href="https://wa.me/<%= event.whatsappNo%>" target="_blank">Contact Team</a></b>
      </div>
    <% } %> 
  </main>

  <!-- <footer>
    <p>Copyright © 2023</p>
  </footer> -->
</body>
<script>
  document.getElementById("add-btn").addEventListener("click",(e)=>{
      e.preventDefault();
      window.location.href = '/post';
  })
</script>
</html>